{% extends "layout.html" %}
{% block body %}

    <div class="container memorizePanel mt-3">
        <div class="m-2 mt-4 border rounded">
            <div class="panel panel-default cardFront">
                <div class="panel-body">
                    <div class="alignContainer">
                        <div class="alignMiddle frontText p-2 text-center">
                            {{ card.front }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary cardBack">
                <div class="panel-body">
                    <div class="alignContainer">
                        <div class="alignMiddle frontText p-2 justify-content-center">
                            <div style="width: max-content;">
                                {% if card.type == 1 %}
                                    <pre style="width: max-content;"><code>{{ card.back|escape }}</code></pre>
                                {% else %}
                                    {{ card.back|replace("\n", "<br />")|safe }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 d-flex wut-bar">
        <a href="{{ url_for('memorize', ltype=ltype) }}" class="btn btn-lg">
            <img class="cards-btn" src="{{ url_for('static', filename='assets/dark_kreuz_vektor.svg') }}">
        </a>
        <a href="javascript:" class="btn btn-lg flipCard">
            <img class="cards-btn" src="{{ url_for('static', filename='assets/dark_drehen_vektor.svg') }}">
        </a>
        <a href="{{ url_for('mark_known', card_id=card.id, ltype=ltype) }}" class="btn">
            <img class="cards-btn" src="{{ url_for('static', filename='assets/dark_haken_vektor.svg') }}">
        </a>
    </div>

{% endblock %}

{% block addjs %}
<script>
document.addEventListener('DOMContentLoaded', (e) => {
  const whatever = document.querySelector('#btn-back');
  whatever.href = `/sets/${getCookie('current_set').replace('.db', '')}?tag_id=${getCookie('current_tag_id')}`
});
</script>
{% endblock %}
