{% extends "layout.html" %}
{% block body %}
    <!-- sets list -->
    <div class="container p-4 p-sm-auto cards-list">
        {% for db in dbs %}
            <div style="position: relative;">
<!--
                <button
                    style="position: absolute; right: 0px; top: 0px;"
                    class="btn"
                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                >
                    <i class="bi bi-pencil"></i>
                </button>
-->
                <a
                    href="{{ url_for('set_overview', name=db|half_pretty_set_name) }}"
                    class="btn btn-outline-secondary card"
                    style="height: 100px;"
                >
                    <h4 class="text-center">
                        {{ db|pretty_set_name }}
                    </h4>
                </a>
            </div>
        {% endfor %}
        <div
            class="btn border"
            style="display: grid; place-items: center; height: 100px;"
            data-bs-toggle="modal" data-bs-target="#exampleModal"
        >
            <i class="bi bi-plus"></i>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Set</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{{ url_for('add_set') }}" method="post">
            <div class="modal-body">
                <label>
                    New Set Name:
                    <input type="text" name="name">
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
      </div>
    </div>
    </div>
{% endblock %}
