{% extends "layout.html" %}
{% block body %}
    <!-- sets list -->
    <div class="container p-4 p-sm-auto">
       <div class="d-flex justify-content-center">
           <div class="d-flex flex-column align-items-center">
                <i style="font-size: 5rem;" class="bi bi-person border rounded-circle px-4"></i>
                <h1 class="mt-2">{{ username }}</h1>
            </div>
        </div>

        <form class="row my-4" action="{{ url_for('change_lightscheme') }}" method="POST">
            <label class="col-3">Lightscheme</label>
            <select class="form-select col-9" name="lightscheme">
                <option value="0">Light</option>
                <option value="1">Dark</option>
            </select>
            <br>
            <button class="btn btn-primary mt-2" type="submit">Change Lightscheme</button>
        </form>

        <form class="row">
            <fieldset class="border p-3">
                <legend>Change Password</legend>
                <label class="col-3">New password</label>
                <input class="col-9 mb-2" type="password">
                <label class="col-3">Retype password</label>
                <input class="col-9" type="password">
                <br>
                <button class="btn btn-primary mt-3" type="submit">Change Password</button>
            </fieldset>
        </form>
    </div>
{% endblock %}
